.InputLabel {
  font-size: 14px;
  font-family: 'Nunito';
  text-align: left;
  margin-bottom: 2px;
}

.AuthInput {
  background-color: #e5e7eb;
  padding: 15px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 10px;
  border-width: 0;
  height: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Nunito';
  color: #733bc3;
  outline: 'none';
  min-width: 400px;
}
.AuthInput:focus {
  outline: none;
}

.LinedArea {
  background-color: #000;
  height: 1px;
  max-width: 400px;
}
